<th>
  <tr>
    <td>
      {{link-to "Business Details" "client.merchant.business" }}
    </td>
    <td>
      {{link-to "Onboarding Details" "client.merchant.onboarding"}}
    </td>
    <td>
      {{link-to "Location Profile Details" "client.merchant.location-profiles" }}
    </td>
    <td>
      {{link-to "Practitioner Profile Details" "client.merchant.practitioner-profiles"}}
    </td>
  </tr>
</th>
