.container{
  flex: none;
  order: 0;
}
&.flex-1{
  flex: 1 0px;
}
&.flex-2{
  flex: 2 0px;
}
&.flex-3{
  flex: 3 0px;
}
&.flex-4{
  flex: 4 0px;
}
&.order-1{
  order: 1;
}
&.order-2{
  order: 2;
}
&.order-3{
  order: 3;
}
&.order-4{
  order: 4;
}
