<form class="form-horizontal" {{action "submitIt" on="submit"}}>
  {{#flex-container}}

    {{#flex-item}}
      <label>Legal Business Name</label>
      <br />
      {{input type='text' value=legalBusinessName}}
    {{/flex-item}}

    {{#flex-item}}
      <label>ZIP code</label>
      <br />
      {{input type='text' value=zip}}
    {{/flex-item}}

  {{/flex-container}}

  {{#flex-container}}

    {{#flex-item}}
      <label>Address</label>
      <br />
      {{input type='text' value=address}}
    {{/flex-item}}

    {{#flex-item}}
      <label>Tax ID</label>
      <br />
      {{input type='text' value=taxId}}
    {{/flex-item}}

  {{/flex-container}}

  {{#flex-container}}

    {{#flex-item}}
      <input type='submit' />
    {{/flex-item}}

  {{/flex-container}}
</form>
