<h1>Business Details</h1>
<ul>
  <li>
    Name: {{model.name}}
  </li>
  <li>
    DBA Name: {{model.name}}
  </li>
  <li>
    Organization NPI: {{model.organization_npi}}
  </li>
  <li>
    Tax ID: {{model.tax_id}}
  </li>
  <li>
    EFI: {{model.efi}}
  </li>

  <li>Address:</li>
  {{#each model.contactAddresses as |address|}}
    Street 1: {{address.street1}}
    {{#if address.street2}}
      <br>Street 2: {{address.street2}}
    {{/if}}
    <br>City: {{address.city}}
    <br>State: {{address.state}}
    <br>Zip: {{address.zip}}
    <li>Phone: {{address.phone}}</li>
    {{#if address.fax}}
      <li>Fax: {{address.fax}}</li>
    {{/if}}
    <li>Email: {{address.email}}</li>
  {{/each}}

  <li>Payment Account Details:</li>
  Payspan PIN: #TODO 123 figure this out
  <br>Payspan enrollment details: #TODO figure this out too
</ul>
