<h1>Onboarding</h1>
<thead>
  <tr>
    <td>
      First Name
    </td>
    <td>
      Last Name
    </td>
    <td>
      Recipient Email
    </td>
    <td>
      Enrollment Status
    </td>
    <td>
      Status Date
    </td>
    <td>
      Invite URL
    </td>
    <td>
      Checklist Task
    </td>
  </tr>
</thead>
  {{#each model.onboardingRequests as |request|}}
    <tr>
      <td>
        {{request.firstName}}
      </td>
      <td>
        {{request.lastName}}
      </td>
      <td>
        {{request.email}}
      </td>
      <td>
        {{request.enrollmentStatus}} changed by TODO:after 10 point story
      </td>
      <td>
        TODO:after 10 point Story
      </td>
      <td>
        {{request.inviteUrl}}
      </td>
      <td>
        TODO:  or not TODO, that is the question
      </td>
    </tr>
  {{/each}}
