{{advanced-search searchHandler=(action "processSearch")}}

<table>
  <thead>
    <tr>
      <th>Business Name</th>
      <th>EFI</th>
      <th>Tax ID</th>
      <th>Status</th>
      <th>Date of Change</th>
      <th>Action By</th>
    </tr>
  </thead>
  <tbody>
    {{#each merchants as |merchant| }}
      <tr>
        <td>{{#link-to "client.merchant.business" merchant}}{{merchant.name}}{{/link-to}}</td>
        <td>{{merchant.efi}}</td>
        <td>{{merchant.tax_id}}</td>
        <td>{{merchant.status}}</td>
        <td>{{merchant.date_of_change}}</td>
        <td>{{merchant.action_by}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
