{{top-nav}}
{{bread-crumbs}}
{{#flex-container direction="row"}}
  {{#flex-item}}
    {{left-nav}}
  {{/flex-item}}
  {{#flex-item flex=3}}
    {{#content-container}}
      <h1>Provider Enrollment</h1>
      {{outlet}}
    {{/content-container}}
  {{/flex-item}}
{{/flex-container}}
