<ul>
  <li>
    {{link-to "Dashboard" "coming-soon"}}
  </li>
  <li>
    {{link-to "Orders" "coming-soon"}}
  </li>
  <li>
    {{link-to "Users" "coming-soon"}}
  </li>

  <li>
    {{link-to "Merchants" "coming-soon" }}
  </li>

  <li>
    {{link-to "Practices" "coming-soon"}}
  </li>
  <li>
    {{link-to "Provider Enrollment" "clients"}}
  </li>
  <li>
    {{link-to "Change Logs" "coming-soon"}}
  </li>
</ul>
